spring:

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/bookstore}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:1234}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 600000        # 10 min
      max-lifetime: 1800000       # 30 min

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update   # keep update in dev

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    com.qadeersaeed.bookstore: DEBUG
