server:
  port: 8080

# JWT configuration
app:
  jwt:
    secret: "THIS_IS_A_LONG_RANDOM_256BIT_SECRET_KEY_CHANGE_IN_PROD_1234567890"
    expiration-ms: 3600000      # 1 hour

spring:
  application:
    name: bookstore-modulith

  datasource:
    url: jdbc:postgresql://localhost:5432/bookstore
    username: postgres          # change if you use a different user
    password: 1234              # change in real setups
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update          # fine for learning; use validate in prod
    show-sql: true
    properties:
      hibernate.format_sql: true
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect

  # Flyway
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  # Modulith settings (for documentation + events)
  modulith:
    events:
      jdbc:
        enabled: false          # disable event persistence for now
    documentation:
      enabled: true             # enable module diagram generation

# Logging
logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    com.qadeersaeed.bookstore: DEBUG

# Actuator (Health + Info endpoints)
management:
  endpoints:
    web:
      exposure:
        include: health, info, env, beans, mappings
