name: Book Store (DEV) Flows Pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  APP_NAME: bookstore-modulith-app

jobs:
  dummy-job:
    runs-on: ubuntu-latest
    steps:
      - name: Do nothing
        run: echo "Pipeline completed (dummy job)"
